@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css);
@import url(https://use.fontawesome.com/releases/v5.0.13/css/all.css);
body {
    font-family: "Lato", sans-serif;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 0;
    background-color: #e9e9e9;
}

.col-6 {
    padding: 10px;
}

.logo {
    margin-bottom: 30px;
}

.card {
    padding: 10px;
    border: 0;
    /* box-shadow: 0px 0px 5px 2px #000; */
}

#all-groups-names {
    max-height: 450px;
    overflow-y: auto;
}

.card-title {
    margin-bottom: 10px;
}

.group-name {
    cursor: pointer;
    padding: 10px 20px;
    margin-bottom: 0;
    padding-left: 10px;
}

.group-name:hover {
    color: #00ADB5;
}

.group-name:hover span.spename {
    color: #00ADB5;
}

#all-groups-names hr {
    margin: 0px;
}

span.spename {
    transition: .3s;
    padding-left: 10px;
}

.chosen-name {
    color: #00ADB5;
}

span.spename.chosen {
    color: #00ADB5;
    padding-left: 20px;
    font-size: 22px;
}

i.arrow-right {
    opacity: 0;
    transition: all 0.2s;
    margin-right: 40px;
}

.group-name:hover i.arrow-right {
    opacity: 1;
    margin-right: 20px;
}



.btn-add {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none !important;
    box-shadow: none !important;
    transition: all 0.3s;
}

.btn-add:hover {
    transform: scale(1.5) rotate(180deg);
}


/*============== Card Info ============= */

.group-card {
    opacity: 0;
    transition: all .5s;
    margin-left: -50px;
}

.group-card.show {
    opacity: 1;
    margin-left: 0px;
}

.detail-content {
    max-height: 450px;
    overflow-y: auto;
}

label {
    font-size: 18px;
}

.members-usernames {
    padding-left: 30px;
}

.group-members h5:not(.collapsed) i.fa {
    transform: rotate(90deg);
    padding-left: 10px;
}

h5.member-list {
    padding-top: 5px;
    padding-bottom: 20px;
}

.hide {
    visibility: hidden;
}

i.collapse-btn {
    transition: all .3s;
}

.member-list {
    cursor: pointer;
}

input.form-control, button {
    outline: none;
    border-color: #00ADB5 !important;
    margin-bottom: 10px !important;
    transition: all .3s;
}

input.form-control:focus {
    box-shadow: 0 3px 3px 0px #00ADB5;
}

button:hover {
    transition: all .3s;
    transform: translateY(-4px);
    box-shadow: 0 2px 3px 1px #090909;   
}

#add-group-btn {
    transition: all .3s;
    background-color: #00ADB5;
}