.fs-timeline-header
	.fs-timeline-header-card
		a(href="/")
			img#logo_photobook(src="/logo.png")
			i#add-load.fa.fa-sync-alt.fa-spin.fa-2x.text-light.hide
		if user
			if !groups
				.dropdown
					a.btn_header(href="/groups") Groups
			a.btn_header(href="/signout") Sign out